/* .root {
  z-index: 0;
}

.content {
  z-index: 1;
  top: 0;
  @apply mx-auto gap-4 relative w-full;
  @screen md {
    @apply absolute;
  }
}

.background {
  @apply relative bg-black bg-opacity-20;
  min-height: 52vw;
  @screen md {
    min-height: calc(100vh);
  }
} */
